#container{
    width: 500px;
    height: 500px;
    display: flex;
    background-image: linear-gradient(to right, rgb(175, 162, 162), rgb(78, 4, 78));
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    padding: 20px;
    outline: none;
    
}

.botoes{
    width: 145px;
    height: 145px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
}